@model bibGest.Models.Penalite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Penalite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstPayee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstPayee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emprunt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emprunt.EmpruntId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PenaliteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
