@model IEnumerable<bibGest.Models.Penalite>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Montant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstPayee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emprunt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Montant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstPayee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emprunt.EmpruntId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PenaliteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PenaliteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PenaliteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
